@model WhatInHere.Models.NaturalChemicalViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Chemicals" asp-action="Index" method="get">
    <p>
        <select asp-for="NaturalChemical" asp-items="Model.Natural">
            <option value="">All</option>
        </select>

        Chemical Name: <input type="text" asp-for="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chemicals[0].Chemical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chemicals[0].Effects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chemicals[0].Natural)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chemicals[0].Source)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Chemicals) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Chemical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Effects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Natural)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
